.projectdetails {

    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
}

.hero-container {
    position: relative;
    width: 100%;
    height: 325px; /* Aap apni zaroorat ke mutabiq height set kar sakte hain */
    background-image: url('../../../../assets/breadcum-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Text ko visible karne ke liye */
}

/* Overlay ko thoda dark karne ke liye taake text saaf dikhe */
.hero-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); Black overlay with 50% opacity */

}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.hero-title {
  color: #ffffff;
  font-size: 39px;
  font-family: sans-serif;
  font-weight: 800;
  margin-top: 55px;
  letter-spacing: -1px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 1rem;
  margin-top: 20px;
}

.breadcrumb-link {
  color: #a0aec0;
  text-decoration: none;
  transition: color 0.2s ease;
  font-family: sans-serif;
}

.breadcrumb-link:hover {
    color: #e60023;
}

.breadcrumb-separator {
  color: #a0aec0;
  font-weight: bold;
  font-size: 16px;
}

.breadcrumb-current {
  color: #e60023; /* The red highlight from your reference */
  font-weight: 500;
  font-family: sans-serif;

}